:root {
    --blue: #6366f1;
    --dark-blue: #4f46e5;
    --red: #e74c3c;
    --dark-red: #c0392b;
    --light-bg: #f0f4f8;
    --white: #ffffff;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    --green: #28a745;
    --dark-green: #218838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

body {
    min-height: 100vh;          
    display: flex;              
    align-items: center;        
    justify-content: center;    
    padding: 20px;              
    background: #fdf8f8;
}

.form-container {
    width: 100%;                
    max-width: 500px;           
    padding: 30px;              
    background: var(--white);  
    box-shadow: var(--box-shadow); 
    text-align: center;         
    border-radius: 10px;       
    
}

.form-container form {
     margin-top: 15px; /
}

.form-container h3 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #6366f1;
    
}

.alert {
    margin: 15px 0; 
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    text-align: center; 
    font-size: 16px;
    color: var(--white); 
    border: 1px solid transparent;
   
}

.alert.alert-error { 
    background-color: var(--red);
    border-color: var(--dark-red);
}

.alert.alert-success { 
    background-color: var(--green);
    border-color: var(--dark-green);
}

.form-container .box {
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    color: #333; 
    font-size: 16px;
    margin: 10px 0;
    background: var(--light-bg);
    border: 1px solid #ddd;
}

.form-container p {
    margin-top: 15px;
    font-size: 16px; 
    color: black; 
}

.form-container p a {
    color: var(--red); 
    font-weight: 600;
}

.form-container p a:hover {
    text-decoration: underline;
}
.btn,
.delete-btn {
    width: 100%;
    border-radius: 8px;
    padding: 12px 20px;
    color: var(--white);
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin-top: 12px;
    transition: background 0.3s ease;
}

.btn {
    background: var(--blue); 
}

.btn:hover {
    background: var(--dark-blue); 
}

.delete-btn {
    background: var(--red);
}

.delete-btn:hover {
    background: var(--dark-red);
}

@media (max-width: 650px) {
    body {
        padding: 0; 
        align-items: flex-start; 
        padding-top: 0; 
    }
    .form-container {
         max-width: 100%;
         width: 100%;
         min-height: 100vh; 
         border-radius: 0; 
         box-shadow: none; 
         padding: 20px; 
         display: flex; 
         flex-direction: column; 
         justify-content: center; 
    }
    .form-container form {
        margin-top: 15px;
    }
    .form-container h3 {
        font-size: 24px; 
    }
 
}